.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    color: #333;
    background-color: unset;
    text-decoration: none; 
    cursor: pointer;
   
}

.sidebar ul li a:hover {
    background-color: rgb(156, 199, 215);
    color: #535e94;
    text-decoration: none; 
    border-radius: 10px; 
}

.sidebar ul li.active {
    background:rgb(156, 199, 215);
    border-radius: 10px;
} 

.sidebar ul li.active:hover {
     background-color: rgb(156, 199, 215);
    color: #535e94;
    text-decoration: none; 
    border-radius: 10px; 
}
.sidebar {
    width: 200px;
    background-color: #e4eaee;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.profile-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.profile-icon img {
    width: 84px;
    border-radius: 50%;
    margin-bottom: 10px;
}
