.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none; 
    cursor: pointer;
   
}

.sidebar ul li a:hover {
    background-color: rgb(156, 199, 215);
    color: #535e94;
    text-decoration: none; 
    border-radius: 10px; /* Added border-radius */
}

.sidebar ul li.active {
    /* padding: 15px 20px; */
    background:rgb(156, 199, 215);
    border-radius: 10px;
} 

.sidebar ul li.active:hover {
     background-color: rgb(156, 199, 215);
    color: #535e94;
    text-decoration: none; 
    border-radius: 10px; /* Added border-radius */
}