body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: skyblue;
    border-bottom: 1px solid #ddd;
}

.header-right {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #535e94;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.container {
    display: flex;
    gap: 20px; 
    
    min-height: calc(100vh - 50px);
}



.sidebar {
    width: 200px;
    background-color: #e4eaee;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.profile-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.profile-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.card {
   
    background-color: rgb(156, 199, 215);

    border-radius: 15px;
    padding: 20px;
    width: 280px;
    height: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #ddd;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #333;
}

.card select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.card p {
    margin: 10px 0 0 0;
    font-size: 18px;
    color: #100f0fc6;
}
