/* indexstyle.css */
main {
    width: 73%;
    height: calc(100vh - 40px);
    float: left;
    padding: 20px;
    box-sizing: border-box;
    /* overflow-y: auto; */
}
.sliding-panel {
    position: relative;
    overflow: hidden;
    width: 100%;    
    margin-top: 30px;
}

.rside {
    width: 27%;
    float: right;
    height: calc(100vh - 40px);
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--light-gray);
    border-left: 1px solid #ddd;
    overflow-y: auto;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 1024px) {
    main {
        width: 100%;
    }
    
    .rside {
        width: 100%;
        height: auto;
        float: none;
        border-left: none;
        border-top: 1px solid #ddd;
    }
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.sliding-panel .panel-content{
    float: none;
}

.banner-message {
    width: 100%;
    background-color: yellow;
    color: #b95050;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    font-weight: bold;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

