main {
    width: 73%;
    height: 89%;
    float: left;
}

.rside {
    width: 27%;
    float: right;
    height: 89%;
}

body {
    margin: 0;
    overflow: hidden;
}

.event img{
    margin: 10px 0px;
}

.panel-content p{
    font-size: small;
}

.box .sliding-panel{
    float:none;
}

.sliding-panel .panel-content{
    float: none;
}

.banner-message {
    width: 100%;
    background-color: yellow;
    color: #b95050;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    font-weight: bold;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1000;
}
