    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
    }

    table, th, td {
        border: 1px solid #ddd;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    button {
        padding: 5px 10px;
        width: 80px;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
    }

    button:hover {
        background-color: skyblue;
        color: white;
    }

    button:disabled {
        background-color: gray;
        cursor: not-allowed;
    }

    #addNewButton {
        margin: 10px 0;
    }

    .form {
        margin-bottom: 0px;
    }

    .container {
        display: flex;
        min-height: 100vh;
        width: unset;
    }

    .content {
        flex: 1;
        padding: 20px;
    }

    h2 {
        margin-bottom: 20px;
    }

    .user_type {
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        cursor: pointer;
    }

    .user_type:focus {
        outline: none;
        border-color: #007bff;
    }

    #userTypeFilter {
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        cursor: pointer;
    }
    #tableSelect{
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: #f8f8f8;
        cursor: pointer;
    }