body {
    margin: 0;
    background-color: #f5f7fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 100px 0px 0px 0px;
}

.headerbody {
    position: fixed;
}

.largebox {
    padding: 30px;
    border-radius: 12px;
    margin: 0px 80px;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.lside, .rside {
    flex: 1;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lside:last-child {
    margin-right: 0;
}

.lside {
    max-width: 23%;
}

.rside {
    text-align: center;
    margin: 64px 50px;
}

.lup, .ldown {
    padding: 20px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lup h4, .ldown p {
    margin: 0;
    color: #2c3e50;
}

.rside h2, .rside h3 {
    color: #2c3e50;
    margin: 0;
}

.rside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.rside ul li {
    margin: 10px 0;
}

.rside ul li a {
    text-decoration: none;
}

.rside p {
    color: #4a5568;
    font-size: 14px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

.rside .formbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.formbuttons a {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;
    cursor: pointer;
    width: 60%;
    text-align: center;
    transition: background-color 0.3s, transform 0.1s;
}

.formbuttons a:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
