.mainbody2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    overflow: auto;
}

html, body {
    height: 100%; /* Ensure the body can take full height */
}

.topics2{
    font-size: 25px;
    font-weight: 300;
    margin: 22px;
    padding: auto;
}

.card-container2{
    padding: 6px;
}

.card-container2 a{
    text-decoration: none;
    color: black;
}

.card2 {
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    transition: var(--transition);
    height: 240px;
    display: flex;
    flex-direction: column;
    border: none;
}

.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

ul{
    list-style-type: none;
}
.card-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card2 h2 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: var(--primary-color);
}

.card2 hr {
    border: 0;
    height: 1px;
    background-color: var(--light-gray);
    margin: 10px 0;
}

.card2 p {
    margin: 8px 0;
    font-size: 14px;
    color: var(--dark-gray);
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card2 p strong {
    color: var(--primary-color);
}