
#popupForm body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#popupForm .container {
    background-color: #fff;

    justify-content: center;
    width: 800px;
    min-height: -webkit-fill-available;
}

#popupForm form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#popupForm h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

#popupForm p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
}

#popupForm .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 48%;
}

#popupForm .form-group:last-child {
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

#popupForm label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

#popupForm input[type="text"],
#popupForm input[type="email"],
#popupForm input[type="usertype"],
#popupForm select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

#popupForm button {
    padding: 5px 10px;
    width: 80px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#popupForm button:hover {
    background-color: skyblue;
    color: white;
}

#popupForm form input:focus,
#popupForm form select:focus {
    border-color: skyblue;
    outline: none;
}

.popup-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    width: min-content;
    width: max-content;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
