.mainbody2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    overflow: auto;
}

html, body {
    height: 100%; /* Ensure the body can take full height */
}

.topics2{
    font-size: 25px;
    font-weight: 300;
    margin: 20px;
    padding: auto;
}

.card-container2{
    padding-left: 20px;
    padding-right: 10px;
}

.card-container2 a{
    text-decoration: none;
    color: black;
}

.card2{
    height: 130px;
    background-color:white;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 15px;
    text-align: justify;
}

.card2:hover{
    border-color: skyblue;
    border-inline-width: 3px;
}

ul{
    list-style-type: none;
}