.main{
    padding: 20px;
    margin: auto;
}

.details{
    text-align: justify;
    font-size: large;
}

button{
    padding: 6px;
    color: rgba(0, 0, 0, 0.726);
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
}