body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    background-color: #e07155;
    border-bottom: 1px solid #ddd;
   
}



.container {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 200px;
    background-color: #e4eaee;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.profile-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.profile-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none; 
    cursor: pointer;
   
}


/* .sidebar ul li a.active, */
.sidebar ul li a:hover {
    background-color: #f0f0f0;
    color: #ff5722;
    text-decoration: none; 
}

 .sidebar ul li.active {
    padding: 15px 20px;
    background-color: #f0f0f0;
    color: #ff5722;
  
} 

.content {
    flex: 1;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

.iframe-content {
    width: 100%;
    height: 250px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
